<h1>New membership</h1>

<% form_for(@membership) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :account_id %><br />
    <%= select :membership, :account_id,
      Account.all.collect{|s|["#{s.username}", s.id]}%>
  </p>
  <p>
    <%= f.label :group %> (do not include the percent % sign)<br />
    <%= f.text_field :group %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', memberships_path %>
