<h1>Logged In</h1>
<p>You are: <%=h @u.username %></p>
<p>This is: shove_auth <%=h current_revision %>
<ul>
	<li><%= link_to "Account list", accounts_path %> - create and destroy users, reset passwords</li>
	<li><%= link_to "Nonce list", nonces_path %> - recent login sessions</li>
	<li><%= link_to "Log out", admin_path(@u.id), :method=>:delete %></li>
</ul>