<p>
  <b>Title:</b>
  <%=h @aclpart.title %>
</p>

<p>
  <b>Order:</b>
  <%=h @aclpart.order %>
</p>

<p>
  <b>Body:</b>
  <%=h @aclpart.body %>
</p>


<%= link_to 'Edit', edit_aclpart_path(@aclpart) %> |
<%= link_to 'Back', aclparts_path %>
