<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Admin?</th>
	<th>Memberships</th>
  </tr>

<% for account in @accounts %>
  <tr>
    <td><%=h account.username %></td>
    <td><%=h account.admin ? 'Administrator' : 'Not Admin' %></td>
	<td class='memberships' id='memberships_<%=h account.id %>'>
		<%= account.memberships.
			map{|v|"<span id='membership_#{account.id}_#{v.id}'>#{h(v.inspect)}</span>"}.join(' ')
		%>
	</td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New account', new_account_path %>
<div id="authenticity_token">
	<%=tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token, :id=>'csrf_token')%>
</div>
<script src="javascripts/membership_editor.js" type="text/javascript" ></script>
<script type="text/javascript">
	locate_memberships();
</script>